.App {
  display: flex;
  padding-top:70px;
  justify-content: center;
  width:100%;
  aligin-items:center;
}
.Position_Center {
  width:80%;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

