body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Root {
  display: flex;
}

.react-select {
  outline: none !important;
  box-shadow: none !important;
  width:95px;
}

.react-select__value-container {
  outline: none !important;
  box-shadow: none !important;
  padding: 0.45rem 0.75rem 0.4rem 0.75rem !important;
  background: transparent !important;
}

.react-select .react-select__dropdown-indicator {
  color:#fff;
}
.react-select .react-select__placeholder{
  color:#fff;
}
.react-select .react-select__menu-list {
  padding-bottom: 0;
  padding-top: 0;
}
.react-select .react-select__single-value,
.react-select .react-select__multi-value__label {
  color:#fff;
}
.react-select .react-select__dropdown-indicator,
.react-select .react-select__control--is-focused .react-select__dropdown-indicator,
.react-select .react-select__clear-indicator,
.react-select .react-select__control--is-focused .react-select__clear-indicator:hover {
  outline: initial;
  box-shadow: initial;
}
.react-select .react-select__dropdown-indicator,
.react-select .react-select__control--is-focused .react-select__dropdown-indicator,
.react-select .react-select__clear-indicator,
.react-select .react-select__control--is-focused .react-select__clear-indicator:hover {
  color:#fff;
}
.react-select .react-select__dropdown-indicator,
.react-select .react-select__control--is-focused .react-select__dropdown-indicator,
.react-select .react-select__clear-indicator,
.react-select .react-select__control--is-focused .react-select__clear-indicator:active {
  color:#fff;
}
.react-select .react-select__dropdown-indicator,
.react-select .react-select__control--is-focused .react-select__dropdown-indicator,
.react-select .react-select__clear-indicator,
.react-select .react-select__control--is-focused .react-select__clear-indicator:focus {
  color:#fff;
}

.react-select__control {
  border:none !important;
  background-color:transparent !important;
  outline: initial !important;
  box-shadow: none !important;
}
.react-select__indicator-separator {
  display: none;
}
.react-select__dropdown-indicator svg {
  width: 15px;
  height: 15px;
}
